html, body {
    height: 100%;
    margin: 0;
  }
  .full-height {
    height: 100vh;
  }
  a{
    color: white;
    text-decoration: none;
  }
  .typing {
    border-right: .15em solid orange; /* Cursor */
    white-space: nowrap; /* Keep the text in a single line */
    overflow: hidden; /* Hide the overflowing content */
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }